div#rex-title div.rex-title-row span.version {
	font-size: 14px; 
	color: silver;
}

div#rex-navi-page ul {
    line-height: 1.7;
	padding-top: 9px;
	padding-bottom: 8px;
	overflow: hidden;
}

div#rex-navi-page ul li {
	display: inline-block;
    float: left;
    padding-right: 7px;
}

div#rex-navi-page ul li.rex-navi-first a {
	background: transparent url("../../../redaxo/media/pipe_c2.gif") no-repeat right 3px;
}

div#rex-navi-page ul li:last-child a {
	background: 0;
}

div#rex-navi-page ul li a {
    white-space: nowrap;
	background-position: right 3px;
	padding: 0 7px 0 0;
}

#be-utilities-overview {
	margin-top: 9px;
}

#be-utilities-overview th {
	font-size: 1.2em;
}

#be-utilities-overview td {
	padding: 12px 5px;
}

#be-utilities-overview td p {
	margin-top: 5px;
	color: grey;
}

#be-utilities-overview.rex-table td a,
#be-utilities-overview.rex-table td span {
	font-weight: bold;
}

#rex-page-be-utilities a.extern {
	background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAA8CAYAAACq76C9AAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAFFSURBVHjaYtTpO/CfAQcACCAmBjwAIIAY//9HaNTtP4hiCkAAMeGSAAGAAGJCl7hcaM8IYwMEEBMuCRAACCAmXBIgABBAKA5CBwABhNcrAAGEVxIggPBKAgQQXkmAAMIrCRBAeCUBAgivJEAA4ZUECCC8kgABhFcSIIDwSgIEEF5JgADCKwkQQHglAQIIryRAAOGVBAggvJIAAYRXEiCA8EoCBBBeSYAAwisJEEB4JQECiAVbNoABgADCqxMggPDmMoAAwpvLAAIIby4DCCC8uQwggPDmMoAAwpvLAAIIr1cAAgivJEAA4ZUECCC8kgABhFcSIIDwSgIEEF5JgADCKwkQQHglAQIIryRAAOGVBAggvJIAAYRXEiCA8EoCBBBeSYAAwisJEEB4JQECCK8kQADhlQQIILySAAGEVxIggPBKAgQYAARTLlfrU5G2AAAAAElFTkSuQmCC) no-repeat right 2px;
	padding-right: 10px;
}

#be-utilities-overview div.plugin-icon {
	background: transparent url("plugin.png") no-repeat left top;
	width: 30px;
	height: 30px;
	float: left;
	margin-left: 6px;
} 

#be-utilities-overview div.plugin-icon.grey {
	background-position: left -60px;
}

#be-utilities-overview div.right {
	float: left;
	margin-left: 13px;
}

#rex-page-be-utilities h2.main {
	color: #14568A;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 17px;
	margin-left: 1px;
	height: 30px;
	line-height: 30px;
}

#rex-page-be-utilities h2.main.plugin {
	background: transparent url("plugin.png") no-repeat left top;
	padding-left: 40px;
}

#rex-page-be-utilities div#rex-output {
    margin-top: 13px;
}

