div#rex-title div.rex-title-row span.version {
	font-size: 14px; 
	color: silver;
}

div#rex-navi-page ul {
    line-height: 1.7;
	padding-top: 9px;
	padding-bottom: 8px;
	overflow: hidden;
}

div#rex-navi-page ul li {
	display: inline-block;
    float: left;
}

div#rex-navi-page ul li a {
    white-space: nowrap;
}

#be-utilities-overview th {
	font-size: 1.2em;
}

#be-utilities-overview td p {
	margin-top: 6px;
	color: grey;
}

#be-utilities-overview.rex-table td a,
#be-utilities-overview.rex-table td span {
	font-weight: bold;
}

#rex-page-be-utilities a.extern {
	background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAA8CAYAAACq76C9AAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAFFSURBVHjaYtTpO/CfAQcACCAmBjwAIIAY//9HaNTtP4hiCkAAMeGSAAGAAGJCl7hcaM8IYwMEEBMuCRAACCAmXBIgABBAKA5CBwABhNcrAAGEVxIggPBKAgQQXkmAAMIrCRBAeCUBAgivJEAA4ZUECCC8kgABhFcSIIDwSgIEEF5JgADCKwkQQHglAQIIryRAAOGVBAggvJIAAYRXEiCA8EoCBBBeSYAAwisJEEB4JQECiAVbNoABgADCqxMggPDmMoAAwpvLAAIIby4DCCC8uQwggPDmMoAAwpvLAAIIr1cAAgivJEAA4ZUECCC8kgABhFcSIIDwSgIEEF5JgADCKwkQQHglAQIIryRAAOGVBAggvJIAAYRXEiCA8EoCBBBeSYAAwisJEEB4JQECCK8kQADhlQQIILySAAGEVxIggPBKAgQYAARTLlfrU5G2AAAAAElFTkSuQmCC) no-repeat right 2px;
	padding-right: 10px;
}
